DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"

FRONTEND_URL="https://frontend.com"
API_URL="https://api.frontend.com"
RENDER_SERVICE_ID="srv-xdxdxdxdxd"

INVITATION_CODE="Invitacion"
JWT_SECRET="change-me"
PORT=8080
